*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: #121212;
    overflow-x: hidden;
}

// Variables etc.
@import 'vars';

// Page CSS
@import 'nav_notloggedin';
@import 'home';