*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}
html {
    height: auto;
    width: 100vw;
}
body{
    background: #121212;
    overflow-x: hidden;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

// Variables etc.
@import 'vars';

// Page CSS
@import 'home';
@import 'registration';

// Static Components
@import 'nav_notloggedin';
@import 'footer';